@charset "UTF-8";

/* 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* 공통 */
* {
	font-family: 'Noto Sans KR', sans-serif;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #000;
}

a.hover:hover {
	font-weight: 700;
	color: #9055A2;
}

ul {
	list-style: none;
}

.container {
	width: 1024px;
	min-width: 320px;
	margin: 0 auto;
	
}

.float-left {
	float: left;
	width: 50%;
} 

.float-right {
	float: right;
	width: 50%;
}

.listStyle-disc {
	list-style: disc;
}

.listStyle-circle {
	list-style: circle;
}

.marginLeft30 {
	margin-left: 30px;
}

/* 폰트색상 */
.lightGray {
	color: #9baec8;
}

.lightBlack {
	color: #333333;
}

.purple {
	color: #9055A2;
	font-weight: 700;
}

/* header */
header {
	margin-bottom: 20px;
}

header div.profileImg {
	overflow: hidden;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	position: relative;
	margin: 50px auto;
	margin-bottom: 20px;
}

header div.profileImg img {
	width: 110%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

header div.profileInfo {
	text-align: center;
}

header div.profileInfo p:nth-of-type(1) {
	font-weight: 700;
	font-size: 20px;
}


/* nav */
nav {
	border-bottom: 1px solid #c9d6de;
    margin-bottom: 30px;
}

.fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	z-index: 1;
}

nav ul {
	overflow: hidden;
	width: 80%;
	margin: 0 auto;
	padding: 15px 0;
}

.fixedW {
	width: 43%;	
}

nav ul li {
	float: left;
	width: 33.33%;
	text-align: center;
}

/* section */
article {
	box-shadow: 0px 0px 15px #f0f5f9;
    border-radius: 10px;
    overflow: hidden;
    padding: 30px 40px;
    margin-bottom: 30px;
}

article h2 {
	margin-bottom: 30px;
	/* font-size: 30px; */
	border-bottom: 1px solid #f0f5f9;
	padding: 5px;
}

article h3 {
	font-size : 1.3em;
}

/* 프로필 */
article div.myInfo {
	width: 45%;
	text-align: center;
	margin-top: 20px;
}

article div.myInfo p{
	line-height: 35px;
}

article div.blogsIcon {
	overflow: hidden;
	width: 282px;
	margin: 30px auto;
	margin-bottom: 0;
}

div.blogsIcon div.icon {
	position: relative;
	width: 80px;
	height: 80px;
	border: 2px solid #c9d6de;
	border-radius: 80px;
	float: left;
	margin-right: 15px;
	text-align: center;
}

div.blogsIcon div.tistoryIcon {
	margin-right: 0;
}

div.blogsIcon div.icon:hover {
	border-color: #9055A2;
}

div.blogsIcon div.icon a {
	font-size: 50px;
	display: block;
	height: 100%;
}

div.blogsIcon div.icon a.imgIcon {
	line-height: 80px;
}

div.blogsIcon div.icon .naverImg {
	width: 60%;
}

div.blogsIcon div.icon .tistoryImg {
	width: 50%;
}

div.history ul {
	line-height: 30px;
}


/* skill */
div.skillList ul {
	overflow: hidden;
}

div.skillList ul li {
	float: left;
	width: 30%;
	margin-right: 5%;
	margin-bottom: 50px;
	text-align: center;
}

div.skillList ul li:nth-of-type(3n) {
	margin-right: 0;
}

div.skillList div.imgBox {
	width: 100%;
	height: 150px;
}

div.skillList div.imgBox img {
	height: 100%;
}


/* project */
article.project div.projectImg {
	width: 95%;
	margin-top: 20px;
}

article.project div.projectImg img {
	width: 98%;
	border: 1px solid #f0f5f9;
	padding: 3px;
}

article.project a.titleIcon {
	margin: 0 5px;
}

article.project ul.projectUl {
	line-height: 27px;
}

article.project div.icons {
	display: inline;
}

article.project a.icon {
	font-size: 25px;
	line-height: 35px;
	margin: 0 5px;
}


/* footer */
footer {
	border-top: 1px solid #c9d6de;
    padding: 30px;
    margin-top: 80px;
    text-align: center;
}


/* 반응형 */
@media screen and (max-width: 1075px) {
	.container {
		width: 95%;
	}
	
	.fixedW {
		width: 80%;
	}
}

@media screen and (max-width: 768px) {
	.container {
		width: 100%;
		min-width: 320px;
	}
	
	.fixedW {
		width: 80%;
	}
	
	article {
		width: 70%;
		margin: 30px auto;
	}
	
	.float-left,
	.float-right {
		float: none;
		width: 100% !important;
		margin-bottom: 30px;
	}
	
	/* 프로필 icon */
	article div.blogsIcon {
		width: 222px;
	}
	
	div.blogsIcon div.icon {
		width: 60px;
		height: 60px;
	}
	
	div.blogsIcon div.icon a {
		font-size: 40px;
	}
	
	div.blogsIcon div.icon a.imgIcon {
		line-height: 60px;
	}
	
	/* 스킬 icon */
	div.skillList ul li {
		margin-right: 0;
		width: 50%;
	}
	
	div.skillList div.imgBox img {
		height: auto;
		max-width: 90%;
		max-height: 150px;
	}
	
	/* 프로젝트 icons */
	article.project div.icons {
		display: block;
	}
	
	article.project span.is {
		display: none;
	}
	
	article.project div.projectImg img {
		width: 100%;
	}
}








