@charset "UTF-8";

/* 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* 공통 */
* {
	font-family: 'Noto Sans KR', sans-serif;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #000;
}


.container {
	width: 1024px;
	min-width: 320px;
	margin: 0 auto;
	
}


/* header */
header {
	
}

header div.profileImg {
	overflow: hidden;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	position: relative;
	margin: 50px auto;
	margin-bottom: 30px;
}

header div.profileImg img {
	width: 110%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

header div.profileInfo {
	text-align: center;
}

header div.profileInfo p:nth-of-type(1) {
	font-weight: 700;
	font-size: 20px;
}


/* 반응형 */
@media screen and (max-width: 768px) {
	.container {
		width: 100%;
		min-width: 320px;
	}
	
}








